@use '../abstracts' as *;

/* CONTAINER */
.container {
  max-width: 1600px;
  margin: auto;
  padding: 2rem;
  overflow: hidden;
}

/* GRID */
// .grid-1col {
//   display: grid;
//   grid-template-columns: repeat(1,1fr);
//   padding: 1.5rem 0;
// }

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1.5rem 0;
  overflow: hidden;
  grid-gap: 1rem;
  @include breakpoint(max, small) {
    grid-template-columns: repeat(1,1fr);
  }
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1.5rem 0;
  overflow: hidden;
  grid-gap: 1rem;

  @include breakpoint(max, medium) {
    grid-template-columns: repeat(2,1fr);
  }
  @include breakpoint(max, small) {
    grid-template-columns: repeat(1,1fr);
  }
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 1.5rem 0;
  overflow: hidden;
  grid-gap: 1rem;

  @include breakpoint(max, medium) {
    grid-template-columns: repeat(2,1fr);
  }
  @include breakpoint(max, small) {
    grid-template-columns: repeat(1,1fr);
  }
}

.grid-2col-l2r1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1.5em 1em;
  overflow: hidden;
  grid-gap: 1em;
}