@use '../abstracts' as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: $font-titillium, sans-serif;
  font-size: fluid(16px,18px);
  font-weight: 400;
  color: $color-midnightBlue;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-saira-sc, sans-serif;
  font-weight: 700;
}

p, blockquote {
  font-family: $font-titillium, sans-serif;
  font-size: fluid(16px,18px);
  margin: 1.2rem 0;
}

form select, form input, textarea {
  font-family: $font-titillium, sans-serif;
  font-size: fluid(14px,18px);
}

blockquote {
  font-style: italic;
}

h1 {
  font-size: fluid(28px,40px);
}
h2 {
  font-size: fluid(25px,32px);
}
h3 {
  font-size: fluid(22px,28px);
}
h4 {
  font-size: fluid(18px,24px);
}
h5 {
  font-size: fluid(16px,20px);
}
h6 {
  font-size: fluid(16px,18px);
}

table {
  font-size: fluid(12px,18px);
}


li,label {
  font-size: fluid(14px,18px);
}

a {
  text-decoration: none;
  color: $color-midnightBlue;
  &:is(:hover) {
    color: $color-redorange;
  }
}

input,select,textarea {
  border: 1px solid $color-midnightBlue;
}



